C++ Primer/Chapter 1/Example/.vs/
C++ Primer/Chapter 1/Example/Debug/
C++ Primer/Chapter 1/Example/x64/
C++ Primer/Chapter 1/Example/Example/x64/
C++ Primer/Chapter 1/Example/Example/Debug/
*.vcxproj
*.sln
*.exe
*.filters
*.user
